a{-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
        .h5_header{position:relative;width:100%;height: 45px;background: #F7F7F7;}
        .h5_header .h5_header_back{position: absolute;left:17px;top:8px;width:30px;height: 30px;line-height:30px;font-size: 15px;color: #535353 !important;}
        .h5_header .icon-back:before{color: #535353}
        .h5_header .h5_header_title{width:70%;margin:0 auto;line-height: 45px;font-size: 18px;color: #2F2E2E;text-align: center;}
        .h5_header .sure{position: absolute;right:17px;top:8px;height: 30px;line-height:30px;font-size: 16px;color: #C0191F !important;}
        .date_box{-webkit-overflow-scrolling: touch;
            position: fixed;
            /* overflow-y: auto; */
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 50;
            left: 200%;
            background-color: #fff;}
            #enter_time{-webkit-overflow-scrolling: touch;
            position: fixed;
            overflow-y: auto;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 40;
            left: 200%;
            background-color: #fff;}
        .date_con .week { margin: 0 10px; height: 45px;line-height: 45px;border-bottom:1px solid #d4d4d4; font-size: 0;}
        .date_con .week li { display: inline-block;width: 14.28%; font-size: 15px;text-align: center; color: #979797; }
        .month_change {position: relative; padding-top: 15px; height: 45px;line-height: 45px;background: #fff; text-align: center;}
        .month_change a { position: absolute; top: 50%;margin-top: -12px;font-size:15px;line-height:35px;color:#D3D3D3;display: inline-block;}
        .month_change a.prev {left: 20px;}
        .month_change a.next {right: 20px; }
        .month_change .prev.cur{background:#FFF4F5;color:#C0191F;width:30px;height:30px;line-height:30px;border-radius:100% 100%;display:inline-block;transform:translate(-8px,3px);}
        .month_change .next.cur{background:#FFF4F5;color:#C0191F;width:30px;height:30px;line-height:30px;border-radius:100% 100%;display:inline-block;transform:translate(8px,3px);}
        .month_change h3 {font-size: 20px; text-align: center;color: #C0191F;}
        .month_change h3 span{font-family:Arial;}
        .date_list {margin: 0 10px; padding-bottom: 10px;border-bottom: 1px solid #d4d4d4;background: #fff;font-size: 0;}
        .date_list a {position: relative; float: left;margin-bottom: 5px;width: 14.28%;height: 40px;font-size: 18px;color: #979797; font-family: "arial";text-align: center;cursor: pointer;line-height:40px; }
        
        .date_list a em { font-style:normal; line-height: 44px;font-size:15px; }
        .date_list a.disabled {color: #d4d4d4;cursor: default;}
        .date_list a.cur {padding-top: 3px; height: 37px;background: #C0191F; color: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
        .date_list a.cur em {font-style:normal; line-height: 20px; }
        .no_signtxt .date_list a.cur em{line-height: 40px;}
        .date_list a.mid {background: #fff5f6;color: #C0191F; }
        .date_list a.cur span { position: absolute;bottom: 4px; left: 0;width: 100%; text-align: center;line-height: 40px;font-size: 16px;font-family: 'Microsoft YaHei';}
